<!DOCTYPE html>
<html style="height: 100%; overflow: hidden">

<head>
  <meta charset="UTF-8">
  <title>Echoes</title>
  <link rel="stylesheet" href="../src/Style/Materialize.min.css">
  <link rel="stylesheet" href="../src/Style/FontAwesome.all.min.css">
  <link rel="stylesheet" href="../src/Style/Index.css">
</head>

<body style="height: 100%; -webkit-app-region: drag; ">

  <header class="gradient-45deg-indigo-purple valign-wrapper" style="height: 25px; z-index: 0;">
    <h8 class="no-margin marg-left-2 white-text valign-wrapper center-align">HTTP OBJECTS EXCHANGED VIZUALIZER</h8>
    <a id="minimize-window-btn" class="btn-floating btn-small absolute-3"><i class="">-</i></a>
    <a id="maximize-window-btn" class="btn-floating btn-small yellow absolute-2"><i class="">o</i></a>
    <a id="close-window-btn" class="btn-floating btn-small red absolute-1"><i class="">x</i></a>
  </header>

  <div id="main-wrapper" class="wrapper-border" style="height: 97%;">
    
    <article id="menu-button-container" class="row grey darken-3 no-margin valign-wrapper padding-10" style="height: 50px;">
      <div data-type="new">
        <i class="fas fa-file white-text center-align"></i>
        <p class="no-margin white-text center-align">New</p>
      </div>
      <div data-type="open">
        <i class="fas fa-folder-open orange-text center-align"></i>
        <p class="no-margin white-text center-align">Open</p>
      </div>
      <div data-type="save">
        <i class="fas fa-save blue-text text-lighten-1 center-align"></i>
        <p class="no-margin white-text center-align">Save</p>
      </div>
      <div data-type="save-as">
        <i class="fas fa-file-export blue-text text-lighten-2 center-align"></i>
        <p class="no-margin white-text center-align">Save As</p>
      </div>
      <div data-type="setting">
        <i class="fas fa-cog grey-text text-lighten-1 center-align"></i>
        <p class="no-margin white-text center-align">Settings</p>
      </div>
      <div><!-- SPACER --></div>
      <div class="bb" data-type="start">
        <i class="fas fa-play green-text text-lighten-1 center-align"></i>
        <p class="no-margin white-text center-align">Start</p>
      </div>
      <div data-type="stop">
        <i class="fas fa-stop red-text text-lighten-1 center-align"></i>
        <p class="no-margin white-text center-align">Stop</p>
      </div>
    </article>

    <div class="row" style="height: -webkit-calc(100% - 50px);">
      <div id="left-panel" class="col s7 scroll scroll4" style="overflow-y: scroll; height: 100%">
        <table class="highlight">
          <thead>
            <tr>
              <th>Method</th>
              <th>Status</th>
              <th>Host</th>
              <th>Path</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody id="exchange-list-body">
          </tbody>
        </table>
      </div>

      <div id="right-panel" class="col s5">
        <div class="card">
          <div class="padding-10 card-content deep-purple darken-2">
            <p class="card-stats-title white-text">
                <i class="far fa-clock"></i> 
                <span class="bold">Timings</span>
            </p>
          </div>
          <div class="card-action">
            <ul id="exchange-timings" class="collection scroll4"  style="max-height: 100px; overflow-y: scroll"></ul>
          </div>
        </div>

        <div class="card">
          <div class="padding-10 card-content deep-purple darken-2 white-text">
            <p class="card-stats-title bold"><i class="far fa-arrow-alt-circle-up"></i> Request Headers</p>
          </div>
          <div class="card-tabs">
            <div style="height:25px">
              <div class="toggle-view-content col s4 pointer" data-type="request-headers" data-formatted="F">
                <p class="no-margin grey-text darken-3 center-align" href="#test4">Formatted View</p>
              </div>
              <div class="toggle-view-content col s4 pointer" data-type="request-headers" data-formatted="R">
                <p class="no-margin grey-text darken-3 center-align" href="#test4">Raw View</p>
              </div>
              <div class="toggle-view-content col s4 pointer" data-type="request-body-content">
                <p class="no-margin grey-text darken-3 center-align" href="#test4">Body</p>
              </div>
            </div>
          </div>
          <div class="card-action">
            <ul id="request-content" class="collection scroll4" style="max-height: 200px; overflow-y: scroll; overflow-wrap: break-word"></ul>
          </div>
        </div>

        <div class="card">
          <div class="padding-10 card-content deep-purple darken-2 white-text">
            <p class="card-stats-title bold"><i class="far fa-arrow-alt-circle-down"></i> Response Headers</p>
          </div>
          <div class="card-tabs">
            <div class="" style="height:25px">
              <div class="toggle-view-content col s4 pointer" data-type="response-headers" data-formatted="F">
                <p class="no-margin grey-text darken-3 center-align" href="#test4">Formatted View</p>
              </div>
              <div class="toggle-view-content col s4 pointer" data-type="response-headers" data-formatted="R">
                <p class="no-margin grey-text darken-3 center-align" href="#test4">Raw View</p>
              </div>
              <div class="toggle-view-content col s4 pointer" data-type="response-body-content">
                <p class="no-margin grey-text darken-3 center-align" href="#test4">Body</p>
              </div>
            </div>
          </div>
          <div class="card-action">
            <ul id="response-content" class="collection scroll4" style="max-height: 200px; overflow-y: scroll; overflow-wrap: break-word"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="message-container" style="display: none"></div>
</body>

<script>
  const globalInit = require('../dist/global-renderer.js').Init;
  const wRendererInit = require('../dist/renderer.js').Init;

  window.onload = () => {
    globalInit({ hideNotClose: false });
    wRendererInit();
  }
</script>

</html>
