<!DOCTYPE html>
<html style="height: 100%; overflow: hidden">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../src/Style/Materialize.min.css">
    <link rel="stylesheet" href="../src/Style/FontAwesome.all.min.css">
    <link rel="stylesheet" href="../src/Style/Settings.css">
</head>

<body style="height: 100%; -webkit-app-region: drag;">

    <header class="gradient-45deg-deep-purple-blue valign-wrapper" style="height: 25px; z-index: 0;">
        <h8 class="no-margin marg-left-2 white-text valign-wrapper center-align">Proxy Settings</h8>
        <a id="minimize-window-btn" class="btn-floating btn-small absolute-3"><i class="">-</i></a>
        <a id="maximize-window-btn" class="btn-floating btn-small yellow absolute-2"><i class="">o</i></a>
        <a id="close-window-btn" class="btn-floating btn-small red absolute-1"><i class="">x</i></a>
    </header>

    <div id="main-wrapper" class="wrapper-border" style="height: 97%; max-height: 97%">
        <div class="">
            <h1 class="no-margin" style="text-align: center; padding-top: 5px;">
                <i class="fas fa-cog blue-text text-darken-3 padding-10"></i>
            </h1>
        </div>
        
        <p class="bold red-text darken-3 center-align" style="font-size: 10px">
            <i class="fas fa-exclamation-triangle"></i> Be sure to clearly understand what you are doing
            before any modification of these parameters.
        </p>
    </div>

    <div id="message-container" style="display: none"></div>
    <script src="../src/3party/Materialize.min.js"></script>
</body>

<script>
    // INIT ORDER MATTER
    const globalInit = require('../dist/global-renderer.js').Init;
    const rendererInit = require('../dist/renderer-settings.js').Init;

    window.onload = () => {
        M.AutoInit();
        globalInit({ hideNotClose: true });
        rendererInit();
    }
</script>

</html>
